<!DOCTYPE html><html lang="es"><head><title>Sol y Flor</title><meta charset="UTF-8"><meta http-equiv="x-ua-compatible" content="ies=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"><link rel="icon" type="image/png" sizes="16x16" href="image/icon/favicon.ico"><style>* {
    box-sizing: border-box
}

html,
body,
nav,
ol {
    padding: 0;
    margin: 0;
    width: 100%
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    min-height: 100vh
}

h2 {
    color: #FE7174;
    font-family: 'Kaushan Script', cursive
}

.logoTitle {
    margin-top: 10px;
    color: #FF9500;
    display: flex;
    justify-content: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 3.2em;
    width: 100%;
    height: 90px;
    letter-spacing: 5px
}

.logoTitle div:nth-child(2) {
    color: #FE0007;
    font-size: .7em;
    margin-top: 10px;
    margin-left: 3px
}

.social {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    margin-top: 20px
}

.social .fa {
    margin-left: 5px;
    color: #FF9500
}

.menu .displayMenu {
    display: none
}

.menu {
    background-color: #FFC471
}

.menu ol {
    display: flex;
    justify-content: space-around
}

.menu li {
    padding: 10px;
    display: inline-block;
    font-size: 1.8em
}

.menu li:nth-child(2) {
    background-color: #FF9500;
    padding: 5px 20px
}

.menu li a {
    color: #fff!important;
    text-decoration: none
}

.menu li a div {
    font-family: 'Kaushan Script', cursive;
    line-height: .45
}

.menu li a div:nth-child(1) {
    padding-top: 4.5px
}

.menu li a div:nth-child(2) {
    text-indent: 40px;
    font-size: .8em
}

.menu li a div:nth-child(3) {
    text-indent: 55px
}

.contenedor {
    color: grey;
    max-width: 1000px;
    margin: auto;
    font-size: 1.3em
}

.contenedor div img {
    margin: auto
}

[class^="tableImageItem-"] {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-position-x: center!important;
    background-position-y: center!important;
    margin: 3px
}

.tableImage {
    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 100%
}

.tableImageItem-1:nth-child(1) {
    display: flex;
    flex-direction: column
}

.tableImageItem-2:nth-child(1) {
    background-image: url(../image/img1.jpg);
    background-repeat: no-repeat;
    margin-top: 0;
    margin-bottom: -2px
}

.titulo2 {
    display: inline-flex;
    align-items: center;
    justify-content: space-between
}

.titulo2 h2 {
    margin-left: 5px;
    letter-spacing: 9px
}

.articulo {
    display: flex;
    justify-content: center;
    height: auto
}

@media screen and (max-width: 800px) {
    .contenedor {
        width: 700px
    }
}

@media screen and (max-width: 500px) {
    .social {
        display: flex;
        flex-direction: column;
        top: 150px;
        left: 0;
        position: fixed;
        margin-top: 0;
        margin-right: 0;
        width: 32px
    }
    .buttonDes {
        color: #fff;
        width: 45px;
        border-radius: 50%;
        line-height: 40px;
        height: 45px;
        background-color: #FE7174;
        display: inline-block;
        text-align: center;
        position: fixed;
        left: 10px;
        top: 26px;
        z-index: 100
    }
    .menu .displayMenu {
        display: block
    }
    .menu {
        background: rgba(255, 60, 60, .8);
        text-align: center;
        position: fixed;
        left: -100%;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center
    }
    .menu ol {
        flex: 1;
        display: block
    }
    .icon-menu:before {
        content: "Menu"
    }
    .menu li {
        display: block;
        margin: 0;
        padding: 8px 0;
        border-bottom: 1px solid #fff
    }
    .menu li:before {
        display: none
    }
    .menu li:nth-child(2) {
        display: none
    }
    .menu li a div:nth-child(1) {
        display: none;
        padding-top: 0
    }
    .menu li a div:nth-child(2) {
        display: none;
        text-indent: 0;
        font-size: 0
    }
    .menu li a div:nth-child(3) {
        display: none;
        text-indent: 0
    }
    .contenedor {
        width: 100%
    }
    [class^="tableImageItem-"] {
        margin: 0!important
    }
    .tableImage {
        flex-direction: column;
        height: auto
    }
    .tableImageItem-1 {
        background-position-x: center!important;
        background-position-y: center!important
    }
    .tableImageItem-1:nth-child(1) {
        height: 600px
    }
    .tableImageItem-2 {
        height: 400px
    }
}

</style><!--<script>var $burguerButton=document.getElementById('buttonDes');
var $menu=document.getElementById('menu');
function toggleMenu() {
    $menu.classList.toggle('active')
}

;
if ($burguerButton) {
    $burguerButton.addEventListener('touchstart', toggleMenu);
}

;
</script>--></head><body><nav class="position"><div class="logoTitle"><div>Sol</div><div>&amp;
</div><div>Flor</div></div><div class="social"><a href="https://www.facebook.com/SOL-FLOR-1453442584971368/?fref=ts" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a><a href="https://www.facebook.com/SOL-FLOR-1453442584971368/?fref=ts" target="_blank"><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></a><a href="https://www.facebook.com/SOL-FLOR-1453442584971368/?fref=ts" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a><a href="https://www.facebook.com/SOL-FLOR-1453442584971368/?fref=ts" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></div><span class="buttonDes icon-menu" id="buttonDes"></span><div class="menu" id="menu"><ol><li class="displayMenu"><a href="index.html">Inicio </a></li><li><a href="index.html"><div>Sol</div><div>&amp;
</div><div>Flor</div></a></li><li><a href="finca.html">Finca</a></li><li><a href="eventos.html">Eventos</a></li><li><a href="servicios.html">Servicios</a></li><li><a href="contacto.html">Contacto</a></li></ol></div></nav><header><div class="portada"><div><p class="portadaDiv"><span class="textSpan">Salon de Eventos</span><span>Sol &amp;
Flor</span><span class="textSpan">Ciudad de las Flores - Tiquipaya</span></p></div></div></header><section class="contenedor"><div class="titulo"><div class="lineDiv"></div><img class="b-lazy" data-src="image/imageIzquierdo_opt.jpg" width="230" height="140" alt=""><h1>Sol &amp;
Flor</h1><img class="b-lazy" data-src="image/imageDerecho_opt.jpg" width="250" height="140" alt=""><div class="lineDiv"></div></div><div class="fondo"><div><p>Lorem ipsum dolor sit amet,
consectetur adipisicing elit. Inventore necessitatibus cupiditate ipsa quasi delectus quam quidem reprehenderit laboriosam iusto? Fuga aspernatur aliquid suscipit vero obcaecati eveniet similique aperiam dolorum,
soluta,
quia accusamus odio ratione animi vitae commodi repellat alias reprehenderit. Ipsum vitae quas esse deleniti cupiditate,
commodi nesciunt,
eligendi iusto!</p></div><div><p>Lorem ipsum dolor sit amet,
consectetur adipisicing elit. Earum voluptatibus dolore veritatis nesciunt culpa. Amet officia blanditiis tempora voluptas in accusantium nobis placeat dolor,
asperiores excepturi dignissimos delectus iusto eveniet suscipit enim recusandae minima laudantium itaque,
sit sequi? Molestias error consequuntur quisquam ab illum? Sint nostrum repellat aperiam culpa. Fugit. </p></div></div><div class="lineDiv" style="margin-bottom: 20px;"></div></section><section class="imageAside"><div id="changeImg" class="backgroundMedio"><div class="textMedio"><p>Un sitio ideal para todos<br>los seres queridos </p></div></div></section><section class="contenedor"><div class="textMedio2"><p><h2>Cerca de la naturaleza estaras viviendo algo inolvidable que lo contaras todos los dias</h2></p></div><div class="table"><div class="item"><img class="imageItem" src="image/img7_opt.jpg" width="300" height="250" alt="" /><hr><p>Todo inolvidable</p></div><div class="item"><img class="imageItem" src="image/img6_opt.jpg" width="300" height="250" alt=""><hr><p>Todo inolvidable</p></div><div class="item"><img class="imageItem" src="image/img5_opt.jpg" width="300" height="250" alt=""><hr><p>Todo inolvidable</p></div></div><div class="table"><div class="item"><img class="imageItem" src="image/img4_opt.jpg" width="300" height="250" alt=""><hr><p>Todo inolvidable</p></div><div class="item"><img class="imageItem" src="image/img3_opt.jpg" width="300" height="250" alt=""><hr><p>Todo inolvidable</p></div><div class="item"><img class="imageItem" src="image/img2_opt.jpg" width="300" height="250" alt=""><hr><p>Todo inolvidable</p></div></div></section><footer><div class="condiciones"><a href="condiciones.html">Condiciones Generales</a><a href="politica.html">Politica de privacidad</a></div><div class="copyright">Duard Designer Web <i class="fa fa-copyright fa-1x" aria-hidden="true"></i>2016. Todos los derechos reservados </div></footer><script async type="text/javascript" src="https://use.fontawesome.com/493ef35f7a.js"></script><script async type="text/javascript" src="jscript/bLazy.1.6.2.js"></script><script async type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script><script async type="text/javascript" src="jscript/js.js"></script><script async type="text/javascript" src="jscript/prefixfree.min.js"></script><script async type="text/javascript" src="jscript/modernizr-custom.js"></script><link rel="stylesheet" href="css/normalize.css"><link href="css/style.min.css" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet"></body></html>a {
    background-image: url(../image/img4.jpg);
    background-size: cover;
    width: 100%;
    display: inline-block;
    height: 600px
}

.portada p {
    width: 500px;
    background-color: grey;
    opacity: .7;
    margin-top: 200px;
    margin-left: 150px;
    color: #fff;
    text-shadow: 3px 3px 8px #494545;
    border: solid 3px #827676;
    border-radius: 20px;
    padding: 30px
}

.portadaDiv {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 6em
}

.portadaContacto {
    background-image: url(../image/img3.jpg);
    background-size: cover;
    width: 100%;
    display: inline-block;
    height: 400px
}

.portada span:nth-child(2) {
    color: #f7f4f4
}

.textSpan {
    font-size: .3em
}

.portadaContacto .portadaContactoDiv {
    background-color: grey;
    opacity: .7;
    margin-top: 65px;
    color: #fff;
    text-shadow: 3px 3px 8px #494545;
    border: solid 3px #827676;
    padding: 10px;
    font-size: 2.3em;
    text-align: center
}

.portadaContacto .portadaContactoDiv .textSpan {
    font-size: .6em
}

.lineDiv {
    width: 100%;
    height: 2px;
    background-color: #FE7174
}

.titulo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.titulo h1 {
    color: #FE7174;
    font-family: 'Kaushan Script', cursive;
    width: 100%
}

.menu .displayMenu {
    display: none
}

.menu {
    background-color: #FFC471
}

.menu ol {
    display: flex;
    justify-content: space-around
}

.menu li {
    padding: 10px;
    display: inline-block;
    font-size: 1.8em
}

.menu li:nth-child(2) {
    background-color: #FF9500;
    padding: 5px 20px
}

.menu li:nth-child(2):hover {
    background-color: #FFC471
}

.menu li a {
    color: #fff!important;
    text-decoration: none
}

.menu li a:hover {
    color: #FF9500!important
}

.menu li a div {
    font-family: 'Kaushan Script', cursive;
    line-height: .45
}

.menu li a div:nth-child(1) {
    padding-top: 4.5px
}

.menu li a div:nth-child(2) {
    text-indent: 40px;
    font-size: .8em
}

.menu li a div:nth-child(3) {
    text-indent: 55px
}

.fondo div {
    padding: 25px;
    font-size: 1.2em;
    text-align: justify
}

.contenedor .fondo img {
    position: relative;
    display: flex
}

.contenedor {
    color: grey;
    max-width: 1000px;
    margin: auto;
    font-size: 1.3em
}

.contenedor div img {
    margin: auto
}

[class^="tableImageItem-"] {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-position-x: center!important;
    background-position-y: center!important;
    margin: 3px
}

.tableImage {
    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 100%
}

.tableImageItem-1:nth-child(1) {
    display: flex;
    flex-direction: column
}

.tableImageItem-1:nth-child(2) {
    background-image: url(../image/bodas.jpg);
    margin-right: 2px
}

.tableImageItem-2:nth-child(2) {
    display: flex
}

.tableImageItem-2:nth-child(1) {
    background-image: url(../image/img1.jpg);
    background-repeat: no-repeat;
    margin-top: 0;
    margin-bottom: -2px
}

.tableImageItem-3:nth-child(1) {
    background-image: url(../image/15anos2.jpg);
    margin-left: -.5px
}

.tableImageItem-3:nth-child(2) {
    background-image: url(../image/bautizo2.jpg);
    margin-right: -.5px
}

.tableImage2 {
    display: flex;
    justify-content: space-between;
    height: 300px;
    width: 100%
}

.tableImageItem2 {
    background-size: cover;
    background-position: center center
}

.tableImageItem2:nth-child(1) {
    width: 45%;
    background-image: url(../image/img2.jpg)
}

.tableImageItem2:nth-child(2) {
    width: 33%;
    background-image: url(../image/img7.jpg)
}

.tableImageItem2:nth-child(3) {
    width: 20%;
    background-image: url(../image/bautizo.jpg)
}

.imageAside {
    width: 100%;
    height: 150%
}

.backgroundMedio {
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    display: inline-block
}

.textMedio {
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    margin-top: 50px;
    margin-right: 250px;
    width: 400px;
    float: right;
    font-size: 3.5em
}

.textMedio2 {
    text-align: center;
    font-size: 1.35em
}

.textMedio2 p {
    margin: 0 100px
}

.table {
    display: flex;
    justify-content: space-around;
    margin: 10px
}

.item {
    align-items: stretch;
    padding: 5px
}

.imageItem {
    width: 300px;
    height: 250px
}

.titulo2 {
    display: inline-flex;
    align-items: center;
    justify-content: space-between
}

.titulo2 h2 {
    margin-left: 5px;
    letter-spacing: 9px
}

.articulo {
    display: flex;
    justify-content: center;
    height: auto
}

.textArticulo {
    padding: 10px;
    text-align: center
}

.articuloEvento {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 20px
}

.articuloEvento div {
    padding: 5px
}

.articuloEvento .imageItem2 {
    height: 350px;
    width: 100%
}

.articuloEvento .imageItem2 img {
    background-position: center center;
    width: 100%
}

.articuloEvento .imageItem2:hover img {
    transform: scale(1.04);
    transition: 2s
}

.articuloEvento .imageItem2:hover .titulo3 {
    margin-top: -255px;
    display: block;
    opacity: .5
}

.titulo3 {
    display: none
}

.service {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.service .serviceItem {
    color: #fff!important;
    background-color: #FFC471;
    margin: 10px;
    border: 2px solid #FFAD3B;
    width: 100%;
    height: 230px;
    text-align: center
}

.service .serviceItem h2 {
    margin-top: -10px;
    color: #fff!important
}

.serviceItem .fa,
.serviceItemMap .fa {
    border-radius: 50%;
    border: 2px solid #FE7174;
    margin-bottom: 10px;
    padding: 30px
}

.serviceItem .fa:hover,
.serviceItemMap .fa:hover {
    color: #FE7174
}

.serviceItem .borderItem {
    margin: auto;
    border-radius: 50%;
    border: 2px solid #FE7174;
    width: 280px;
    height: 280px
}

#service .serviceItem {
    display: flex;
    justify-content: space-around
}

.form {
    color: #FE7174;
    margin: 20px auto 0!important;
    width: 100%;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: .1em;
    padding: 3px
}

.form legend {
    text-align: center;
    font-size: 1.7em
}

.form fieldset {
    border: none
}

.form input,
textarea {
    width: 100%!important;
    font-family: cursive;
    color: gray
}

.form input[type="submit"] {
    background-color: #FE7174;
    color: #fff;
    border: none;
    width: 100%
}

.contenedor .serviceItem {
    color: gray!important;
    background-color: #fff;
    border: none
}

.serviceItemMap {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center
}

.contenedor .serviceItem h2,
.contenedor .serviceItemMap h2 {
    color: gray!important
}

.serviceItem:nth-child(2) {
    height: auto
}

iframe {
    height: 350px
}

@media screen and (max-width: 800px) {
    .contenedor {
        width: 700px
    }
    .imageItem {
        width: 220px
    }
    .titulo h1 {
        width: 7000px
    }
    .textMedio {
        margin-right: auto
    }
    .textMedio2 {
        font-size: .9em
    }
    .portadaDiv {
        font-size: 5em
    }
    .titulo .lineDiv:nth-child(1) {
        visibility: hidden
    }
    .titulo .lineDiv:nth-child(5) {
        visibility: hidden
    }
    .articuloEvento .imageItem2:hover .titulo3 {
        margin-top: -155px
    }
    #service {
        display: inline-flex;
        flex-direction: column
    }
    #service .serviceItem {
        display: flex!important;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 300px!important
    }
    #service .serviceItem:nth-child(1) {
        display: inline-block;
        flex-direction: column!important
    }
    #service .serviceItem:nth-child(2) {
        display: inline-block!important;
        height: auto!important
    }
    iframe {
        width: 100%!important;
        height: 500px
    }
    footer .copyright {
        margin-top: 0
    }
    footer {
        font-size: .8em
    }
}

@media screen and (max-width: 500px) {
    nav.position {
        z-index: 100
    }
    .portada .contenedor {
        position: static
    }
    .social {
        display: flex;
        flex-direction: column;
        top: 150px;
        left: 0;
        position: fixed;
        margin-top: 0;
        margin-right: 0;
        width: 32px
    }
    .portada p {
        width: auto;
        margin-top: 400px;
        margin-left: 0;
        padding: 0
    }
    .portada {
        background-position-x: -256px
    }
    .portadaDiv {
        display: none
    }
    .buttonDes {
        color: #fff;
        width: 45px;
        border-radius: 50%;
        line-height: 40px;
        height: 45px;
        background-color: #FE7174;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        position: fixed;
        left: 10px;
        top: 26px;
        z-index: 100
    }
    .menu .displayMenu {
        display: block
    }
    .menu {
        background: rgba(255, 60, 60, .8);
        text-align: center;
        position: fixed;
        left: -100%;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        width: 100%;
        align-items: center;
        transition: .3s;
        text-align: center
    }
    .menu.active {
        left: 0
    }
    .menu ol {
        flex: 1;
        display: block
    }
    .icon-menu:before {
        content: "Menu"
    }
    .menu li {
        display: block;
        margin: 0;
        padding: 8px 0;
        border-bottom: 1px solid #fff
    }
    .menu li:before {
        display: none
    }
    .menu li:nth-child(2) {
        display: none
    }
    .menu li a div:nth-child(1) {
        display: none;
        padding-top: 0
    }
    .menu li a div:nth-child(2) {
        display: none;
        text-indent: 0;
        font-size: 0
    }
    .menu li a div:nth-child(3) {
        display: none;
        text-indent: 0
    }
    .contenedor {
        width: 100%
    }
    .titulo {
        margin: 0;
        margin-bottom: -50px
    }
    .table {
        display: block;
        text-align: center;
        margin: 0
    }
    .table .item:nth-child(3) {
        display: none
    }
    .table .item img {
        display: block
    }
    .imageAside {
        text-align: center;
        margin: auto
    }
    .articuloEvento .imageItem2 {
        height: 135px
    }
    .articuloEvento .imageItem2:hover .titulo3 {
        margin-top: -105px
    }
    .backgroundMedio {
        height: auto;
        background-attachment: initial
    }
    .textMedio {
        margin: 0;
        font-size: 2.5em;
        width: 100%;
        margin-top: 100px
    }
    .textMedio2 p {
        margin: auto
    }
    .articulo2 {
        padding: 15px;
        text-align: justify;
        text-justify: auto
    }
    .portadaContacto {
        height: auto
    }
    .textSpan {
        font-size: .35em
    }
    .portadaContacto .portadaContactoDiv {
        padding: 2px;
        font-size: 1.3em;
        background-color: transparent;
        border: transparent;
        opacity: initial
    }
    .textArticulo {
        padding: 0
    }
    [class^="tableImageItem-"] {
        margin: 0!important
    }
    .tableImage {
        flex-direction: column;
        height: auto
    }
    .tableImageItem-1 {
        background-position-x: center!important;
        background-position-y: center!important
    }
    .tableImageItem-1:nth-child(1) {
        height: 600px
    }
    .tableImageItem-1:nth-child(2) {
        height: 250px
    }
    .tableImageItem-2 {
        height: 400px
    }
    .tableImageItem-2:nth-child(2) {
        margin: 3px 0!important;
        height: 200px
    }
    .tableImage2 {
        height: 100%;
        flex-direction: column;
        align-items: center
    }
    .tableImageItem2 {
        height: 250px;
        width: 250px!important;
        border-radius: 50%;
        margin: 5px 0!important
    }
    .service {
        flex-direction: column
    }
    .serviceItem {
        margin: 0;
        margin: 0 0 25px 0!important;
        height: auto!important
    }
    #service .serviceItem {
        height: auto!important
    }
    footer {
        font-size: .6em
    }
    footer .condiciones {
        display: flex;
        justify-content: center;
        width: 100%
    }
    .titulo img {
        display: none!important
    }
}